/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
   vertical-align: middle;
 }

/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

/* ==========================================================================
   Global Overrides
   ========================================================================== */
   * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*           border: solid red 2px;*/
  }

  .clearfix:after {
    display: table;
    clear: both;
    content: "";
  }

  ul {
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /*SITE COLORS:
  Header, Link & Button Blue: #0a84ff;
  Hover: rgba(21, 85, 136, .5);

  /*SITE FONTS:
  font-family: SanFrancisco;
  font-family: 'Open Sans', sans-serif; (300, 300i, 400, 600))*/

@font-face {
  font-family: SanFranciscoBold;
  src: url("../fonts/SanFranciscoDisplay-Semibold.otf") format("opentype");
}

@font-face {
  font-family: SanFranciscoReg;
  src: url("../fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: SanFranciscoThinItalic;
  src: url("../fonts/SanFranciscoText-LightItalic.otf") format("opentype");
}

/* ----------------------------------------------------
   G L O B A L
   ------------------------------------------------------- */
   html {
    font-size: 18px;
  }

  body {
    font-family: "SanFranciscoReg", sans-serif;
    color: #0c0c0d;
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    text-decoration: none;
    color: #0a84ff;
  }

  a, a:visited {
    color: #0a84ff;
  }

  a:hover {
    color: #45a1ff;
  }

  p {
    margin: 0;
    padding: 0;
    /** orphans: 3;
    widows: 3;*/
  }

  li {
   list-style: none;
 }

/** ----------------------------------------------------
L A Y O U T
------------------------------------------------------- */
#main {
  width: 100%;
  float: left;
  margin: 0 auto;
  max-width: 1400px;
}

#navigation {
  width: 90%;
}

#wrapper {
  margin-top: 1rem;
  padding: 0 3rem;
}

#sidebar  {
  width: 20%;
  margin: .2rem;
  float: left;
  font-size: .9rem;
  border: .1rem solid #0c0c0d;
}

#toggleFilters {
  display: none;
}

.filter_group {
  width: 100%;
}

#projects  {
  width: 70%;
  margin-top: -.5rem;
  float: left;
}

/* ----------------------------------------------------
   N A V I G A T I O N
   ------------------------------------------------------- */

   header {
    background-color: #0a84ff;
  }

  nav {
    float: right;
    padding: 4rem, 1.5rem, 0, 1.5rem;
    text-align: right;
  }

  nav li {
    float: left;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding-left: 0;
  }

  nav a {
    display: inline-block;
    margin: 1rem .75rem 0 .75rem;
  }

  .hamburger {
    display: none;
    float: left;
    cursor: pointer;
    margin-bottom: 5rem;
  }

  .nav_highlight {
    text-align: right;
  }

  .nav_highlight a:hover {
    color: #fff;
    border-bottom: .2rem solid #fff;
  }

  .active {
    border-bottom: .2rem solid #fff;
  }

  .fa {
    color: #fff;
    margin-right: 11rem;
  }
  
/* ----------------------------------------------------
   H E A D I N G S
   ------------------------------------------------------- */

  h1 {
   font-family: "SanFranciscoBold", sans-serif;
   font-size: 2rem;
   font-weight: 500;
   line-height: 1;
   float: left;
   color: #0c0c0d;
   margin-left: 1.5em;
   padding: .2rem, 0, .2rem, 3em;
 }

 h1 a, h1 a:visited {
  color: #fff;
}

h1 a:hover {
  font-weight: normal;
  color: #fff;
}

h2 {
  font-size: .75rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

h2 a, h2 a:visited {
  color: #fff;
}

h2 a:hover {
  font-weight: 600;
  color: #0a84ff;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: .5rem;
  padding: 0;
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

h4 {
 font-family: "SanFranciscoThinItalic", sans-serif;
 font-size: .75rem;
 font-weight: 400;
 color: #737373;
 margin: 0;
 padding: 0;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h6 a, h6 a:visited, h6 a:hover {
  font-weight: 600;
  font-style: italic;
  font-size: .9rem;
  color: #0a84ff;
  margin: 0;
  padding: 0;
}

/** ----------------------------------------------------
   F O R M
   ------------------------------------------------------- */

   form {
    margin-left: 1rem;
    font-size: .8rem;
  }

  input:last-of-type {
    margin-bottom: 1rem;
  }

/* ----------------------------------------------------
   M A I N   C O N T E N T
   ------------------------------------------------------- */

   .title {
    width: 82.5%;
    margin: 0 0 1rem 6rem;
    padding: 3rem;
  }

  div .project_item {
    width: 82.5%;
    background-color: #f9f9fa;
    padding: .5rem;
    margin: 0 0 1rem 3.2rem;
    border-left: .2rem solid #0a84ff;
  }

  div .project_item a:hover {
   color: #45a1ff;
 }

 article p {
  font-size: .9rem;
}

#projects > p {
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  margin: 2em 0 2rem 0;
  color: #0a84ff; 
}

/* ----------------------------------------------------
    B U T T O N
    ------------------------------------------------------- */
    #reset,
    #reset:visited {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      text-align: center;
      letter-spacing: .005rem;
      text-transform: uppercase;
      color: #fff;
      font-size: .8rem;
      font-weight: 600;
      border-radius: .25rem;
      background-color: #0a84ff;
      width: 90%;
    }

    #reset:hover {
      background-color: #45a1ff;
      color: #fff;
      font-weight: 600;
    }

    #toggleFilters,
    #toggleFilters:visited {
      margin: 1rem 0 .5rem 0;
      text-align: center;
      letter-spacing: .005rem;
      text-transform: uppercase;
      color: #fff;
      font-size: .8rem;
      font-weight: 600;
      border-radius: .25rem;
      background-color: #0a84ff;
      width: 35%;
    }

    #toggleFilters:hover {
      background-color: #0a84ff;
      color: #fff;
      font-weight: 600;
    }

/* ----------------------------------------------------
   F O O T E R
   ------------------------------------------------------- */
   footer div {
    width: 30%;
    margin: 0 0 1rem 0;
  }

  footer {
   clear: both;
   font-size: .8rem;
 }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

 .hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /*   @media only screen and (min-width: 35em) {*/
    /* Style adjustments for viewports that meet the condition */
    /*  }*/

    @media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
      /* Style adjustments for high resolution devices */
    }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

  }


/* ----------------------------------------------------
   O V E R W R I T E
   ------------------------------------------------------- */

   /*T A B L E T*/

   @media only screen and (max-width: 900px) {

    html {
      font-size: 16px;
    }

    #reset {
      height: 30px;
    }

    .hamburger {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      font-size: 24px;
    }

    nav {
      width: 100%;
      float: none;
      clear: both;
      padding-left: 10px;
    }

    nav li {
      display: block;
      float: none;
      text-align: left;
    }

    nav ul {
      height: 0;
      overflow: hidden;
      -webkit-transition: height 350ms ease-in-out;
      -moz-transition: height 350ms ease-in-out;
      -o-transition: height 350ms ease-in-out;
      transition: height 350ms ease-in-out;
    }

    .open {
     height: 80px;
   }

   #sidebar  {
    width: 100%;
    margin: .2rem .2rem 2rem .2rem;
    float: left;
    border: .1rem solid #888;
  }

  .filter_group {
    width: 30%;
    float: left;
    margin: 0 1rem 0 0;
  }

  .filter_group:last-of-type {
    margin-right: 0;
  }

  #toggleFilters {
    display: none;
  }

  form {
    font-size: .9rem;
  }

  .title {
    display: none;
  }

  #projects {
    width: 100%;
  }

  div .project_item {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }

  footer div {
    width: 100%;
  }
}

/*S M A R T P H O N E*/
@media only screen and (max-width: 660px) {

  html {
    font-size: 14px;
  }

  #toggleFilters {
    display: inline;
  }

  #sidebar  {
    display: none;
    width: 100%;
    margin: .2rem .2rem 2rem .2rem;
    float: left;
    border: .1rem solid #888;
  }

  .filter_group {
    width: 100%;
    float: left;
    margin: 0 1rem 0 0;
  }

  .filter_group:last-of-type {
    margin-right: 0;
  }

}

  /*M I N I */
  @media only screen and (max-width: 500px) {

   html {
    font-size: 13px;
  }
  
  #toggleFilters {
    width: 100%;
  }

}

/*T I N Y*/
@media only screen and (max-width: 460px) {

  html {
    font-size: 12px;
  }

}

/*T E E N Y*/
@media only screen and (max-width: 425px) {

  html {
    font-size: 11px;
  }

  .fa {
     margin-bottom: 10px;
     margin-right: 12rem;
  }

}

/*B I T T Y*/
@media only screen and (max-width: 350px) {

  html {
    font-size: 10px;
  }

  .fa {
     margin-bottom: 10px;
     margin-right: 13rem;
  }

}

