/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    font-size: 16px;
    min-height:100%;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
/* ==========================================================================
    *********** THINGS GEMMA ADDED ************
    ========================================================================== */

/* ==========================================================================
   Global Overrides
   ========================================================================== */
   * {
     width: 100%;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
/*         border: solid red 2px;*/
   }

   .clearfix:after {
    display: table;
    clear: both;
    content: "";
  }

  ul {
    -webkit-padding-start: 5px;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*SITE COLORS:
Header & Button Blue: #1F6798;
Content Area Sandstone Background: #F6F4EC;

/*SITE FONTS:
font-family: MetaPro;
font-family: 'Open Sans', sans-serif; (300, 300i, 400, 600)
font-family: 'Hind', sans-serif; (500, 600)*/

@font-face {
  font-family: MetaPro-Medium;
  src: url("../fonts/MetaPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: MetaPro-Normal;
  src: url("../fonts/MetaPro-Normal.otf") format("opentype");
}



/*LATO?*/
/* ----------------------------------------------------
   C O N T A I N E R
   ------------------------------------------------------- */
   #container {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto; 
    /*  margin 0 auto centers it in the page*/
  }


/* ----------------------------------------------------
   G L O B A L
   ------------------------------------------------------- */
   body {
    font-family: 'Open Sans', 'Hind', sans-serif;
    color: #555;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height:100%;
  }

  .main {
    background-color: #F6F4EC;
  }

  li {
   list-style: none;
 }

 a, a:visited {
  text-decoration: none;
  color: #222;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

h1 a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

h1 a:visited {
  text-decoration: none;
  color: #fff;
}

h2 a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

h2 a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-weight: 600;
}

h2 a:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #222;
  font-weight: normal;
}
h4 a:hover {
  font-weight: bold;
}

p {
  margin: 0 0 1.875rem;
}

p a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

p a:hover {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

p a:visited {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* ----------------------------------------------------
   N A V I G A T I O N
   ------------------------------------------------------- */


   nav {
    background-color: #1F6798;
    height: 70px;
    margin-bottom: 10px;
  }

  nav li {
    width: 8%;
    height: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    float: right;
  }

  nav li:last-child {
    width: 15%;
  }

  .blurb {
  float: right;
  width: 60%;
  margin: 0 auto;
  padding: 4%;
}

  .featured_content {
  background-color: #C13832;
  height: 200px;
  float: left;
  overflow: hidden;
  padding: 3%;
  background-image: url(../img/TC_Asia.jpg);
margin-bottom: 10px;
  background-repeat: no-repeat;
}

#feature_callout h3 {
  font-style: italic;
  font-size: 1.1rem;
}


/* ----------------------------------------------------
   H E A D I N G S
   ------------------------------------------------------- */
   h1 {
     font-family: MetaPro-Medium, sans-serif;
     font-weight: 500;
     font-size: 2.5rem;
     line-height: 1;
     float: left;
     color: #ffffff;
     margin: 0.4em 1.25rem;
     width: 45%;
     position: absolute;
   }

   h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: .95rem;
    color: #ffffff;
    margin: .5rem, 0;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    padding-left: 15px;
  }

  h4 {
   color: #FFF;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: .85rem;
   line-height: 1px;
   margin-left: 2rem;
   text-transform: uppercase;
 }
 h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
}


/** ----------------------------------------------------
   S I D E B A R
   ------------------------------------------------------- */

   .side_bar  {
    background-color: #F6F4EC;
    width: 20%;
    height: 350px;
    margin-top: 10px;
    float: left;
    border-right: .1rem solid #fff;
  }

  a div .sidebar {
    color: #FFF;
  }

  .side_bar_header {
    background-color: #1F6798;
  }

  .facets {
    margin: 0;
  }

/* ----------------------------------------------------
   M A I N   C O N T E N T
   ------------------------------------------------------- */

   .main {
    float: left;
  }
  
  div .projects {
    margin-top: 1rem;
  }

  .projects_header{
    background-color: #1F6798;
    width: 62%;
    margin-top: 1.2rem;
    margin-left: 18rem;
  }

  div .project_item {
    width: 62%;
    height: 125px;
    float: right;
    margin-right: 5rem;
    border-bottom: .1rem solid #fff;
  }

  div .project_item:last-child {
    border-bottom: none;
  }

  div .thumbnail {
   width: 22%;
   height: 150px;
   float: left;
   margin-right: 1em;
 }

 div .thumbnail img{
   border: 1px solid #bbb;
 }

 div .description {
   width: 90%;
   height: 120px;
   float: left;
 }

.read_more {
   font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
}

.read_more:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
}

.read_more:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
}
/* ----------------------------------------------------
   B U T T O N
   ------------------------------------------------------- */
   .button,
   .button:visited {
    font-family: "Open Sans", sans-serif;
    display: block;
    float: right;
    padding: .2rem;
    margin-right: -2.5rem;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: .005rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: .25rem;
    background: #1F6798;
    box-shadow: inset 0 -.15rem 0 rgba(0,0,0,.2);
    width: 13%;
  }


/* ----------------------------------------------------
   F O O T E R
   ------------------------------------------------------- */


   footer div {
    width: 30%;
    height: 3rem;
    float: left;
    margin: 1rem;
  }

  footer {
   clear: left;
 }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

 .hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }


/* ----------------------------------------------------
   O V E R W R I T E
   ------------------------------------------------------- */
   /*Tablet*/
/*   @media only screen and (max-width: 760px) {
    .gallery div {
      width: 49%;
      margin-right: 2%;
      margin-left: 0;
    }

    .gallery div:nth-child(even) {
     margin-right: 0;
   }

   /*navigation*/
 /* nav li {
   display: none;
 }

 nav li:last-child {
  display: block;
}
}*/


/*Smartphone*/
/* @media only screen and (max-width: 480px) {
  .gallery div {
    width: 100%;
    margin: 10px 0;
    }*/
    /*navigation*/
 /* nav li {
   display: none;
 }

 nav li:last-child {
  display: block;
  }*/

  /*main and footers*/
/*footer > div {
  width: 97%; /*100%-3% margins*/
/*}
}

*/
