/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
/* ==========================================================================
    *********** THINGS GEMMA ADDED ************
    ========================================================================== */

/* ==========================================================================
   Global Overrides
   ========================================================================== */
   * {
    /*     width: 100%;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*   border: solid red 2px;*/
  }

  .clearfix:after {
    display: table;
    clear: both;
    content: "";
  }

  ul {
    -webkit-padding-start: 5px;
  }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*SITE COLORS:
Header & Button Blue: #1F6798;
Content Area Sandstone Background: #F6F4EC;

/*SITE FONTS:
font-family: MetaPro;
font-family: 'Open Sans', sans-serif; (300, 300i, 400, 600)
font-family: 'Hind', sans-serif; (500, 600)*/

@font-face {
  font-family: MetaPro-Medium;
  src: url("../fonts/MetaPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: MetaPro-Normal;
  src: url("../fonts/MetaPro-Normal.otf") format("opentype");
}


/* ----------------------------------------------------
   C O N T A I N E R
   ------------------------------------------------------- */
/*   #container {
  /*    max-width: 1024px;*/
  /*  width: 80%;
    margin: 0 auto; 
      margin 0 auto centers it in the page
  }
  */

/* ----------------------------------------------------
   G L O B A L
   ------------------------------------------------------- */
   html {
    font-size: 18px;
    min-height: 100%;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #494949;
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 0 3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    -webkit-transition: all 300ms;
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  li {
   list-style: none;
 }

/* a, a:visited {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: none;
  color: #222;
  font-weight: normal;
}

p {
  margin: 0 0 0 0;
}

p a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

p a:hover, a:visited {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  }*/

  /*Trying to clean this up, added a:visited above.*/
/*p a:visited {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  }*/
/*
* ----------------------------------------------------
   G L O B A L
   ------------------------------------------------------- */
   #main {
    width: 100%;
    float: left;
  }

  #wrapper {
    margin-top: 1rem;
  }

  #sidebar  {
    width: 18%;
    margin-top: .2em;
    margin-bottom: .2rem;
    float: left;
    font-size: .9rem;
    border: .1rem solid #888;
  }

  #projects  {
    width: 70%;
    margin-top: .2em;
    float: left;
  }



/* ----------------------------------------------------
   N A V I G A T I O N
   ------------------------------------------------------- */

   nav {
    background-color: #1F6798;
    height: 3.5rem;
    margin-bottom: .5rem;
  }

  nav > ul > li {
    display: inline-block;
  }

  header nav ul li {
    color: #fff;
/*    float: left;*/
    margin: 0;
    padding: 0;
    width: 8%;
    text-transform: uppercase;
  }

  header nav a:hover {
    color: #fff;
    background: #8b8f93;
  }

  /*.blurb {
  float: right;
  width: 60%;
  margin: 0 auto;
  padding: 4%;
}

  .featured_content {
  background-color: #C13832;
  height: 200px;
  /*  float: left;*/
 /* overflow: hidden;
  padding: 3%;
  background-image: url(../img/moto.jpg);
margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
    background-size: cover;
}



#feature_callout h3 {
  font-style: italic;
  font-size: 1.1rem;
  }*/

/* ----------------------------------------------------
   H E A D I N G S
   ------------------------------------------------------- */
   h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  h1 {
   font-family: "MetaPro-Medium", sans-serif;
   font-size: 2.5rem;
   font-weight: 500;
   line-height: 1;
   float: left;
   color: #fff;
   margin: 0.4em 1.25rem;
   width: 45%;
   position: absolute;
 }

 h1 a, h1 a:visited {
  color: #fff;
}

h1 a:hover {
  font-weight: normal;
  color: #fff;
}

h2 {
  font-size: .95rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

h2 a, h2 a:visited {
  color: #fff;
}

h2 a:hover {
  font-weight: 600;
color: rgba(21, 85, 136, .5);
  font-weight: normal;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: .75rem 0 .25rem 1rem;
}

h4 {
 font-size: .75rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
  color: #1F6798;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

h6 a, h6 a:visited, h6 a:hover {
  font-weight: 600;
  font-style: italic;
  font-size: .9rem;
  color: #1F6798;
  font-weight: bold;
}


/** ----------------------------------------------------
   S I D E B A R
   ------------------------------------------------------- */

   form {
    margin-left: 1rem;
    font-size: .8rem;
  }

  input:last-of-type {
    margin-bottom: 1rem;
  }

/* ----------------------------------------------------
   M A I N   C O N T E N T
   ------------------------------------------------------- */
   /* .article_module div {*/
    /*   width: 50%;*/
    /*   float: left;*/
    /*   margin: 10px 1%;*/
    /* }*/

/* .gallery div:first-child {
   margin-left: 0;
   }*/

/* .gallery div:last-child {
   margin-right: 0;
 }
 */
 .projects_header {
  border: .1rem solid #888;
  width: 90%;
  margin-left: 3rem;
  margin-bottom: 1rem;
  /*padding-left: .5rem;*/
  padding-bottom: .3rem;
}

.projects {
  width: 90%;
}

div .project_item {
  width: 75%;
  background-color: rgba(227, 231, 234, .2);
  /*  height: 125px;*/
  /*    clear: left;*/
  margin-left: 3.2rem;
  margin-bottom: 1rem;
  /*    display: block;*/
/*  border-bottom: .1rem solid #888;
border-right: .1rem solid #888;*/
}

/*div .project_item:last-child {
  border-bottom: none;
  }*/

  div .project_item a:hover {
   color: rgba(21, 85, 136, .5);
  }

 /* .related_tags {
      height: 150px;
   font-size: .70rem;
   color: #1F6798;
   padding: 0;
   margin: .5rem;
 }
*/

 article p {
  font-size: .9rem;
}

/*div .entry {
  float: right;
   width: 60%;
}*/

/*div .tag_group {
  float: left;
   width: 20%;
   border-right: .1rem solid #fff;
}*/


/* article {
 width: 50%;
height: 120px;
/* float: left;*/


/*#projects .read_more a {
 font-weight: 600;
 font-style: italic;
 font-size: .75rem;
 margin-left: 29rem;
 color: #1F6798;
 }*/

/*CLEAN UP
.read_more:hover {
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
}

CLEAN UP
.read_more:visited {
  font-weight: 600;
  font-style: italic;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #1F6798;
  }*/
/* ----------------------------------------------------
   B U T T O N
   ------------------------------------------------------- */
/*   .button,
   .button:visited {
    display: block;
    float: right;
    padding: .2rem;
    margin-right: -2.5rem;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: .005rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: .25rem;
    background: #1F6798;
    box-shadow: inset 0 -.15rem 0 rgba(0,0,0,.2);
    width: 13%;
    }*/


/* ----------------------------------------------------
   F O O T E R
   ------------------------------------------------------- */


   footer div {
    width: 30%;
    margin: 1rem;
  }

  footer {
   clear: both;
   font-size: .8rem;
 }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

 .hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      a[href]:after {
        content: " (" attr(href) ")";
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }


/* ----------------------------------------------------
   O V E R W R I T E
   ------------------------------------------------------- */
   /*Tablet*/
/*   @media only screen and (max-width: 760px) {
    .gallery div {
      width: 49%;
      margin-right: 2%;
      margin-left: 0;
    }

    .gallery div:nth-child(even) {
     margin-right: 0;
   }

   /*navigation*/
 /* nav li {
   display: none;
 }

 nav li:last-child {
  display: block;
}
}*/


/*Smartphone*/
/* @media only screen and (max-width: 480px) {
  .gallery div {
    width: 100%;
    margin: 10px 0;
    }*/
    /*navigation*/
 /* nav li {
   display: none;
 }

 nav li:last-child {
  display: block;
  }*/

  /*main and footers*/
/*footer > div {
  width: 97%; /*100%-3% margins*/
/*}
}

*/
